{% extends 'base.html.twig' %}

{% block title %} Inscription au site {% endblock %}

{% block body %}

<div class="container mt-4">
    <h2>Inscrivez-vous sur notre site</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-blue">Confirmez l'inscription</button>
        
        {{form_end(form) }}
        </br>
        </br>
    </div>
    

{% endblock %}