 {% extends 'base.html.twig' %}

{% block title %} 
    Bienvenue
{% endblock %}

{% block body %} 


<div class="container">
    <div class="jumbotron mt-3 ml-3 pt-3 pr-5 pf-5 pb-2">
        </br>
        </br>
        <h2>Note d'intention</h1>
        </br>
        <p>Le site <strong>NéSousX</strong> est mis en ligne depuis février 2019. D'abord proposé sous sa forme la plus simple
        il a vocation à se développer pour répondre au mieux aux besoins de familles séparées par une naissance sous X.</br>
        A terme, il a vocation à répondre à toutes les autres situations d'adoption, à travers le monde. </br></br>Je vous remerci de votre indulgence 
        sur les beugs et imperfections que vous rencontrerez, je m'empresserez de les résoudre si vous me les faites remonter. </br> Je vous invite à me contacter
        pour me faire part de vos remarques et de vos suggestions et vous souhaite le meilleur dans vos recherches.
        </br></br><strong>Caroline (nesousx.website@gmail.com)</strong></p>
        </br>
        </br>
        <p class="lead1 text-center">
            <a class="btn btn-blue mt-3 " href="{{ path('homepage') }}" role="button">Accéder au site</a>
        </p>
        </br>
        </br>
    </div>
{% endblock %}

    
