{% extends 'base.html.twig' %}

{% block title %} Mentions légales et RGPD {% endblock %}

{% block body %} 

<div class="container">

    <h2 class="mb-3 mt-4">Mentions légales</h2>

        <div class="container mt-3 mb-5 p-4 text-blue">
            <p>
                Février 2019.</br></br>
                <strong>blablablablabla</strong></br></br>
                </br></br> </br></br> </br></br> </br></br></br> </br></br> 
            </p>
        </div>

    <h2 class="mb-3 mt-4">RGPD</h2>

        <div class="container mt-3 mb-5 p-4 text-blue">
            <p>
                Février 2019.</br></br>
                NeSousX.com est un site gratuit de petites annonces pour faciliter la recherche d’origines 
                des familles séparées par une naissance sous X ou tout abandon. 
                L’utilisation du site est réservée aux personnes majeures faisant des recherches à des fins 
                personnelles. L’inscription est gratuite et volontaire. Aucun élément identifiant n’est requis 
                au delà d’un nom, d'un prénom et d’une adresse mail valide. 
                Toute utilisation du site pour proposer des services commerciaux ou illicites est interdite. 
                Le contenu du site est modéré, mis à part les contacts directs 
                entre utilisateurs du site qui passent par leurs adresses mails personnelles.
                Les annonces sortant du cadre du site ou utilisant un langage injurieux ou inadapté ou mettant en cause autrui 
                ne seront pas publiées. 
                L’équipe de modération du site est seule juge du contenu publié. Un contenu ne correspondant pas à 
                cette charte d’utilisation peut être retiré du site à tout moment sans notification. 
                Si malgré notre vigilance vous trouviez sur le site un contenu commercial, litigieux, prêtant à 
                confusion, mal intentionné ou offensif, merci de nous le signaler immédiatement à nesousx.website@gmail.com 
                avec le titre de l'annonce. 

                Dans le soucis du respect de la vie privée, nous ne publions aucn numéro de téléphone ou adresse.  
                Vous pouvez par contre inclure des liens vers des pags publiques sur internet, comme Facebook etc. 
                Conformément à la législation en vigueur sur la protection des informations, vous pouvez à tout 
                moment supprimer les annonces que vous avez publiées sur Mon compte en supprimant le contenu de 
                l'annonce et/ou demander la suppression de votre compte.  Il suffit de nous adresser un mail depuis 
                l’adresse que vous utilisez pour accéder au site à nesousx.website@gmail.com avec votre
                demande.Vos informations personnelles (nom et adresse mail, contenu publié) ne sont pour aucunes 
                raisons partagées ou vendues à qui que ce soit et ne seront pas conservées apres suppression de votre compte. 
                Ce site n'a de raison d'être que si les annonces et les comptes associés perdurent dans le temps. 
                Il n'existe donc pas de délai sans connexion de votre part à partir duquel votre compte ou les annonces associées seraient supprimées.
                 Attention à ne pas publier dans vos annonces des informations que vous ne souhaitez pas 
                 rendre publiques, comme une adresse mail. Nous recommandons de créer une adresse mail gratuite 
                 dédiée pour la publier sur internet. Garder à l'esprit que vous pouvez être contacté plusieurs années apres avoir
                 posté votre annonce. nous vous conseillions donc de bien rester au fait de l'actualité de cette adresse mail.
                 Gardez également à l'esprit que le contenu du site est repris par 
                 les moteurs de recherche, ce qui élargit la visibilité de votre recherche. Cependant, le site 
                 n'ayant aucun contrôle sur le contenu de la toile, lorsqu'une annonce est supprimée du site, 
                 comptez quelques jours pour que le contenu du site sans votre annonce soit indexé par les moteurs 
                 de recherche et que votre annonce et/ou commentaires disparaissent des moteurs de recherche. Pour 
                 plus de détails, veuillez contacter les moteurs de recherche concernés.
                 Pour toute question sur cette Charte d’utilisation, merci de nous contacter à 
                 nesousx.website@gmail.com
                 L'utilisation de ce site vaut acceptation de cette charte. 
            </p>
        </div>

</div>
{% endblock %}

    