<footer class="footer text-center bg-light pt-2">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-3">
            <p>Copyright NéSousX !</p>
        </div>
        <div class="col-3">
            <p class="lead1 text-center">
                <a  href="{{ path('admin_ads_index')}}" >Admin</a>
            </p>
        </div>
        <div class="col-3">
        </div>
    </div>
    
<footer>