<footer class="footer text-center bg-light pt-2">
    <div class="row">
        <div class="col-5">
        </div>
        <div class="col-3">
            <p>Copyright NéSousX !</p>
        </div>
        <div class="col-2">  
            <p class="lead1">
                <a  href="{{ path('mentions_legales')}}" >Mentions légales et RGPD</a>
            </p>         
        </div>
        <div class="col-2">
            <p class="lead1">
                <a  href="{{ path('admin_account_login')}}" >Admin</a>
            </p>
        </div>
    </div>
    
<footer>