a {
    color: #00899C; 
}

body {
    background-color: #C9BAAE
}

h1 {
    color: #00899C;
    text-shadow: 3px 3px 3px white;   
    font-weight: bold;
}

h2{
    font-family: Georgia;
    color: #00899C;
}

p {
    margin-bottom: 0.3rem;
}

.ad1 {
    background-color: #857564;
}

.border-info {
    border-color: white !important;
}

.btn {
    background-color: #00899C;
    border-color: #00899C;
    color: white;
}

.card {
    font-family: Georgia;
}

.card-header {
    background-color: #857564;
    color: #161C20;
}

.jumbotron {
    background-image: url('/image/tof7.png');
    background-size: cover;
}

.lead {
    color: #00899C;
    text-shadow: 2px 2px 2px white;
    font-weight: bold;
}

.ml-3 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.text {
    color: #00899C;
    font-weight: bold;
    text-shadow: 2px 2px 2px white;
}
