a {
    color: #00899C; 
}

a:visited {
    color: #00899C;
}

body {
    background-color: #C9BAAE;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
    margin: 0;
}


h1 {
    color: #00899C;
    text-shadow: 3px 3px 3px white;
}

h2{
    font-family: Georgia;
    color: #00899C;
}

h4 {
    font-size : 1rem;
}

p {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
}

.ad1 {
    background-color: #857564;
}

.alert-success {
    background-color: #00899C;
}

.badge-blue {
    background-color: #00899C;
    color: white;
}

.bg-blue {
    background-color: #00899C;
}

.border-info {
    border-color: white !important;    
}

.btn {
    font-size: 1rem;
}

.btn-blue {
    background-color: #00899C;
    border-color: #00899C;
    color: white!important;
}

.card {
    font-family: Georgia;
}

.card-header {
    background-color: #857564;
    color: #161C20;
}

.container-fluid {
    margin-top : 20px;
}

.display-3 {
    font-size:6.5rem;
}

.footer {
    height: 50px;
    border-top: 2px solid;
    border-top-color: #00899C;
}

.form-control {
    font-size: 0.9rem;
}

.infobox {
    border-style: groove;
    border-color: #00899C;
    border-radius: 5px;
}

.infotext {
    font-size: 0.9rem;
    color: black;
}


.jumbotron {
    background-image: url('/image/tof7.png');
    background-size: cover;
}

.lead {
    font-family: Georgia;
    font-size: 1.3rem;
    color: #00899C;
    text-shadow: 0.5px 0.5px 0.5px white;
    /* font-weight: bold; */
}

.ml-3 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.navbar1 {
    border-bottom: 2px solid;
    border-bottom-color: #00899C;
}

.text {
    color: #00899C;
    font-weight: bold;
    text-shadow: 2px 2px 2px white;
}

.text-blue {
    background-color: #00899C;
    border-color: #00899C;
    color: white;
    border-radius: 3px;
    text-align: justify;
}

.push {
    height: 50px;
}

.text-black {
    color: #161C20 !important;
}

.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
