<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>NéSousX - {% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        {% endblock %}

    </head>
    <body>
    
    {% include 'partials/header.html.twig' %}

    <div class="wrapper">
    {% block body %}{% endblock %}
    <div class="push"></div>
    </div>

    {% include 'partials/footer.html.twig' %}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
    

</html>
