 {% extends 'base.html.twig' %}

{% block title %} 
    Bienvenue
{% endblock %}

{% block body %} 

<div class="container">
    <div class="jumbotron  mt-3 pt-5 pr-5 pf-5 pb-4">
        <h1 class="display-3">Bienvenue sur NéSousX!</h1>
        <p class="lead">Le site qui mets en relation des enfants et des parents séparés suite à un abandon / adoption</p>
        <hr class="my-4">
        <p>Postez une petite annonce pour présenter l'enfant concerné, et consultez également les annonces.</p>
        <p class="lead">
            <a class="btn btn-info mt-3 " href="#" role="button">Consultez les annonces</a>
        </p>
    </div>

    <h2 class="mb-3 mt-4">Les dernières annonces postées</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                style="height: 200px, width : 100%; display: block">
                <div class="card-body">
                    <h4 class="card-title">
                    Appartement de ouf !
                    </h4>
                    <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem expedita odio magni, tempora nesciunt blanditiis dolorum commodi culpa ullam dolorem?
                    </p>
                    <a href="#" class="bnt bnt-secondary">En savoir plus</a>
                </div>
            </div>   
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                style="height: 200px, width : 100%; display: block">
                <div class="card-body">
                    <h4 class="card-title">
                    Appartement de ouf !
                    </h4>
                    <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem expedita odio magni, tempora nesciunt blanditiis dolorum commodi culpa ullam dolorem?
                    </p>
                    <a href="#" class="bnt bnt-secondary">En savoir plus</a>
                </div>
            </div>   
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                style="height: 200px, width : 100%; display: block">
                <div class="card-body">
                    <h4 class="card-title">
                    Appartement de ouf !
                    </h4>
                    <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem expedita odio magni, tempora nesciunt blanditiis dolorum commodi culpa ullam dolorem?
                    </p>
                    <a href="#" class="bnt bnt-secondary">En savoir plus</a>
                </div>
            </div>   
        </div>
    </div>  

    
</div>
{% endblock %}

    
