{% extends 'base.html.twig' %}

{% block title %}Les annonces de recherche{% endblock %}

{% block body %}

<div class="container">
    <h2 class="mb-3 mt-4">Parcourez les annonces</h2>

    <div class="row">
        {% for ad in ads %}
            {% include 'ad/ads.html.twig' %}          
        {% endfor %}
    </div>
</div>

{% endblock %}
