
<img src="public/image/tof7.png" alt="NeSousX" />

<div class="container bg-secondary mb-0.5 rounded-bottom border-info">
    <div class="card-details ml-2 mt-2">
        <p><u>Informations concernant l'email</u> :</p>
        <p><u>Nom de l'expediteur</u> : {{contact.name}}</p>
        <p><u>Email de l'expediteur</u> : {{contact.email}}</p>
        <p><u>Pays de l'expediteur</u> : {{contact.country}}</p>
        <p><u>Message</u> : {{contact.message}}</p>
    </div>
</div> 

